$color-white: #fff;
$color-grey-dark: #777;
$color-black: #000;
$color-grey-light-1: #ebebeb;
$color-blue-light: #b9d1cfa8;
$color-background: #e4e4d98a;
$color-wavey-blue-grey: linear-gradient(to right, $color-grey-light-1, $color-blue-light);
//grid
$grid-width: 100%;
$gutter-vertical: 1rem;
$gutter-horizontal: 1rem;
// font
$default-font-size: 1.7rem;
//  img size
$default-img-size: 6rem;
